/* Dropdown.module.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .buttons {
    border: 1px solid rgb(27, 24, 24);
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
  
    margin-left: 4px;
    margin-top: 4px;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    padding: 8px 0;
    z-index: 10;
  }
  
  .menuItem {
    width: 100%;
    padding: 8px 16px;
    color: #333;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuItem:hover {
    background-color: #f0f0f0;
  }
  