.header{
    height:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    background:black;
    }
    .headerText{
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 56.25px;
        text-align: center;
        color:white;
        width:808px
        
        
    }
    
    @media (max-width:768px) {
        .header{
        padding:0px 16px;
    
        }
        .headerText{
        font-size: 28px;
        line-height: 42px;
    
        }
        
    }