.tableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th, .td {
    padding: 10px 6px;
    text-align: center;
  }
  
  .th {
    background-color: #f4e8d1;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    letter-spacing: -1px;
    
  }
 .td{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;        

 }
  .tr:hover {
    background-color: #f1f1f1;
  }
  .totaltr{
    border-top: 1px solid  rgb(219, 201, 201);
  }
 
 .tableInput{
    border: none;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; 
    text-align: center;
  }
  
  @media (max-width:768px) {

    .th {
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.4px;
    }
    
    .td{
      font-size: 14px;
    }
    
  }