.faqContainer {
    display: flex;
    flex-direction: column;
    margin: 100px;
    gap: 100px;

}

.searchContainer {
    display: flex;
    justify-content: space-between;
}

.searchBox {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.searchInput {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.filterHeader {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faqText {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    letter-spacing: -1px;
    text-align: left;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.filterButton {
    padding: 10px 12px;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #D6D5D5;
    font-family: Roboto;
    color: var(--Color-black-50, #00000080);
    background: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

}

.activeButton {
    background-color: black;
    color: white;
}

.filterName {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    width: fit-content;
    margin-left: 21px;
    margin-bottom: -15px;
    padding: 6px 8px 4px 8px;
    gap: 10px;
    background: #EDEDED;
    border-radius: 14px 14px 0px 0px;
}

.filterContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.infoContainer {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 16px;
}

.line {
    border: 1px solid #C5C5C5;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordionContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 24px;
    padding: 32px;
    justify-content: space-between;
    background: #F9F9F9;
}

.faqBox {
    display: flex;
    max-width: 864px;
    flex-direction: column;
    gap: 16px;
    align-items: self-start;
}

.questionContainer {
    display: flex;
    border-radius: 24px;
    justify-content: space-between;

}

.question {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.videoIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.imageBox1 {
    display: block;
}

.imageBox2 {
    display: none;
}

.videoPlayer {
    width: 100%;
    height: auto;
}

.videoPlayerControls {
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: rgb(27, 25, 25);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.imageBox {
    overflow: hidden;
    position: relative;
}

.Img {
    border-radius: 12px;
    width: 100%;
    height: 100%;

}

.noData {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    letter-spacing: -1px;
    text-align: left;
}

@media (max-width:768px) {
    .faqContainer {
        padding: 16px;
        margin: 0px;

    }

    .faqText {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.5px;

    }

    .noData {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.5px;
    }

    .filters {
        gap: 9px;
    }

    .infoContainer {
        padding: 24px 16px;
        grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
    }

    .accordionContainer {
        padding: 24px 12px;
    }
}

@media (max-width:450px) {
    .imageBox1 {
        display: none;
    }

    .imageBox2 {
        display: block;
        margin-top: 15px;
    }
    .filterName {
        margin-left: 0px;
    }
}