.mainContainer {
    width: 100%;
    height: fit-content;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    display: flex;
    flex-direction: column;
    gap:40px;
    width:100%;
    margin-bottom: 10px;
}
.heading {
    margin: auto;
    /* width: 80%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    /* align-items: center;
    justify-content: center; */
}

.SmallMainTitle {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
    text-align: center;

}

.SmallDescription {
    font-size: 20px;
    font-family: Manrope;
    font-weight: 400;
    color: #000000;

}

.subSection {
    display: flex;
    flex-direction: column;
    gap:24px;
}

.pointbox {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.imageBox {
    /* width: 477px;
    height: 212px; */
    width:100%;
    border-radius: 12px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.listBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subHeader {
    /* display: flex;
    flex-direction: column; */
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 36px;
}

.subContent {
    display: flex;
    flex-direction: column;
    /* max-width: 1000px; */
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    color: var(--Color-black-75, #000000BF);

}

.rowreverse {
    flex-direction: row;
}

.description {
    border: 2px solid red;
}

.contentContainer {
    display: flex;
    flex-direction: column;

}

.rowreversecontainer {
    flex-direction: column-reverse;
}
.ulContainer{
    display: flex;
    flex-direction: column;
}
@media (max-width:768px) {
    .heading {
        /* max-width: 500px; */
    }
    .mainContainer {
       
padding: 24px 16px 24px 16px;
gap: 24px;


    }
    .section{
        padding: 0px;
    }
    .subSection{
        align-items: center;
        width:80%;

    }

    .SmallMainTitle {
        flex-direction: column;
        /* width: 500px; */
        width:80%;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.5px;

    }

    .SmallDescription {

        font-size: 16px;
        max-width: 500px;
    }

    .subHeader {

        font-size: 16px;
        line-height: 24px;

    }
    .subContent {
       
       text-align: center;
      padding: 5px;
      width:80%;
    
    }
    .ulContainer{
        align-items: center;
        text-align: center;
    }
    .pointbox {
        flex-direction: column;
    }
    .listBox{
        align-items: center;
    }
}