
.sectionOneContainer{

padding: 100px;
gap: 62px;
display: flex;

}
.informationtextContainer{
 display: flex;
 align-items: center;
 justify-content: space-around;

}

.infotextheading{

font-family: Roboto;
font-size: 36px;
font-weight: 600;
line-height: 42.19px;
letter-spacing: 0.5px;
text-align: left;

}
.infotextbody{
font-family: Manrope;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.2;
text-align: left;

}
.readMoreButton{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-top: 4px;
   padding: 8px 0 8px 0;
   height: 49px;
   border-radius: 5px;
   border: none;
   background: none;

}
.readMoreButton span{
font-family: Roboto;
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0.4000000059604645px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.infoimgBox{
gap: 0px;
border-radius: 12px;
opacity: 1px;
margin-left: 62px;


}


    @media (max-width: 768px) {
        .sectionOneContainer{
            display: flex;
            gap:24px;
            padding:24px 16px;
        }
        .informationtextContainer{
           flex-direction: column;
            height: auto;
            margin:0;
            padding: 0;
            gap: 20px;
            width: 100%;
            align-items: center;
    
            }
            .infotextheading{
                font-size: 24px;
                padding:0;
            }

    .infotextbody{
        font-size: 16px;
    }
            .infotext,
            .infoimgBox {
                width: 100%;
                margin: 0;
            }
        
            .infoimgBox {
                height: auto; 
                border-radius: 10px; 
            }
        
            .infoimg {
                width: 100%;
                height: auto; 
            }
            .readMoreButton span{
                font-size: 16px;
            }
    }
    
