.missionVisionContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 60px;
    background-color: #C188231A;
    align-items: center;
    margin-top: 30px;
}
  
.tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.tabButton {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 200;
    line-height: 54px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
    background: none;
}
  
.tabButtonActive {
    color: #C18823;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tabContent {
    animation: fadeIn 0.3s ease-in-out;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: var(--TitleLargeLineHeight);
    letter-spacing: 0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.smallScreen {
    display: none;
}

@media screen and (max-width: 768px) {
    .missionVisionContainer {
        flex-direction: column;
        padding: 24px 16px;
        border-radius: 12px;
        margin-bottom: 10px;
    }
  
    .largeScreen {
        display: none;
    }
  
    .smallScreen {
        display: flex;
        flex-direction: column;
    }

    .tabButton {
        cursor: pointer;
        border: none;
        background: none;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .tabButtonActive {
        cursor: pointer;
        color: #C18823;
        transition: background-color 0.3s;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
  
    .tabContent {
        animation: fadeIn 0.3s ease-in-out;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        letter-spacing: 0.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}
