

.container {
    text-align: center;
    background-color: #0000000A;
    padding: 60px 100px 60px 100px;
  }
  
  .heading {
    font-size: 36px;
    font-weight: 600;
    font-family: Roboto;
    margin-bottom: 40px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .featureCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 232px;
    text-align: center;
    gap: 12px;
  }
  
  .icon {
   max-width: fit-content;
   max-height: 80px;
   margin: auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    font-family: Roboto;
    margin: 0;
  }
  
  .description {
    font-size: 16px;
    font-family: Manrope;
    color: #00000099;
    margin: 0;
  }
  @media (max-width: 720px) {
    .container{
      padding: 16px;
    }
    .features{
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 4px;
      gap: 12px;
    }
    .featureCard{
      /* width: fit-content; */
      width: 145px;
    }
  }