.faqContainer{
  padding: 60px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  justify-content: center;
  
  }
  .faqtextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    z-index: 2;
  }
  .faqtext{
   
      font-family: Roboto;
      font-size: 36px;
      font-weight: 600;
      line-height: 42.19px;
      letter-spacing: 0.5px;
      text-align: center;
      
  }
  .faqButton{
  
      padding: 16px 48px ;
      width: fit-content;
      gap: 10px;
      border-radius: 5px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0.4px;
      text-align: center;
      color: white;
      background-color: rgb(17, 17, 17);
  
  
  }
  .svgtopWave, .svgbottomWave{
    width: 100%;
    height:50%;
    position: absolute;
    overflow: hidden;
  }
  
  .topsvg,
  .bottomsvg {
    position: absolute;
    width: 100%;
    height:100%;
  }
  .faqtextContainerSmallScreen{
    display: none;
  }
  
  @media (max-width: 768px) {
        .faqContainer{
          padding: 60px 16px;
          gap: 24px;
        }
        
        .faqtextContainer{
          display: none;
        
        }
        .faqtextContainerSmallScreen{
          display: block;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap:16px;
          z-index: 1;
          padding: 60px 16px;
  
        }
        .faqtext{
          font-family: Roboto;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0.2;
          text-align: center;
  
        }
        .faqButton{
        
          padding: 16px 48px;
          gap: 10px;
          border-radius: 5px;
          width: 100%;
  
        }
  
        .topsvg,
        .bottomsvg {
  
            position: absolute;
            width: 100%;
            height:100%;
            object-fit: cover;
        }
   }