@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.cardHeading{
   
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color:black;
    letter-spacing: 0.2px;
    text-align: left;
    
}
.cardList{
    color: var(--Color-black-75, #000000BF);
    display: flex;
    flex-direction: column;
    gap:40px
}
.card{
    color: var(--Color-black-75, #000000BF);
    display: flex;
    flex-direction: column;
    gap:16px
}
.cardContent{
   
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--Color-black-75, #000000BF);

    
}
@media (max-width:764px) {
    .cardHeading{
        font-size: 20px;
        color:black;
        font-weight: 500;
        line-height: 23.44px;
       
    }
    .cardList{
        gap:32px;
    }
    .cardContent{

        font-size: 14px;
        font-weight: 300;
    }


}