
.sectionOneContainer{

padding: 100px;
gap: 62px;
display: flex;

}
.informationtextContainer{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%; 
box-sizing: border-box;
}
.infotext{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.infotextheading{

font-family: Roboto;
font-size: 36px;
font-weight: 600;
line-height: 42.19px;
letter-spacing: 0.5px;
text-align: left;

}
.infotextbody{
font-family: Manrope;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.2;
text-align: left;

}

.infoimgBox{
gap: 0px;
border-radius: 12px;
opacity: 1px;
margin-left: 62px;


}


    @media (max-width: 768px) {
        .sectionOneContainer{
            display: flex;
            gap:24px;
            padding:24px 16px;
        }
        .infotext{
            gap:12px;
        }
        .informationtextContainer{
           flex-direction: column;
            height: auto;
            margin:0;
            padding: 0;
            gap: 20px;
            width: 100%;
            align-items: center;
    
            }
            .infotextheading{
                font-size: 24px;
                padding:0;
            }

    .infotextbody{
        font-size: 16px;
    }
            .infotext,
            .infoimgBox {
                width: 100%;
                margin: 0;
            }
        
            .infoimgBox {
                height: auto; 
                border-radius: 10px; 
            }
        
            .infoimg {
                width: 100%;
                height: auto; 
            }
            .readMoreButton span{
                font-size: 16px;
            }
    }
    
